.wrapper
  = render 'shared/side_bar'
  .groupchat
    .header
      .header__left
        .group_name
          = @group.name
        .member
          Member：
          - @group.users.each do |user|
            = user.name
      = link_to "/groups/#{@group.id}/edit" do
        .header__edit_button
          %p Edit
    .messages
      = render partial: 'message', collection: @messages
    .footer
      = form_for [@group, @message], html: {id: 'message_form'} do |f|
        = f.text_field :content, class: 'footer__message_form', placeholder: 'type a message'
        .footer__icon_wrapper
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'fa fa-image'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'footer__send_button'
